
$neon-green:         #BBD149;

$whitish:            #FFFFFE;

$chameleon-green:    #74B530;

$forest-green:       #115635;

$matte-yellow:       #E4D664;

$albuquerque-orange: #ED7B15;

$madeline-yellow:    #E9ECCF;
