/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.background {
  background: url('http://res.cloudinary.com/dn4jhnh54/image/upload/c_scale,w_1554/v1491767469/washington_fdwetr.jpg');
  margin: 0px;
  padding: 0px;
}

div#header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  color: black;
  height: 50px;
  background-color: black;
  opacity: .9;

}

#header > div > p {
  margin-left: 12px;
  margin-right: 4px;
}

p.header-tag {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 14px;
  display: block;
  margin-left: 10px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

p.name {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 14px;
  opacity: 1 !important;
}

div.aaron {
  display: flex;
}

div.andrea {
  display: flex;
}

div.ryan {
  display: flex;
}


#github img {
    height: 20px;
    width: 20px;
    margin: 11px 4px;
    filter: invert(100%);
}

#linkedin img {
    height: 20px;
    width: 20px;
    margin: 11px 4px;
    filter: invert(100%);
}

a#linkedin {
  margin-right: 6px;
}

div#header img:hover {
    height: 26px;
    width: 26px;
    margin: 5px 3px;
}

h1.title {
  color: green;
}
